#jokesView {
  position:relative;
  top:75px;
  width:95%;
  height:750px;
  left:50%;
  transform:translate(-50%,0);
}

.jokeBox {
  position:relative;
  display:inline-block;
  height:150px;
  width:33%;
  float:left;
  margin-right:.3%;
  margin-bottom:10px;
  overflow:hidden;
  text-align:center;
  font-family:Bangers;
  background-color:#DBDBDB;
}

.jokeBox h5 {
    position:absolute;
    bottom:0px;
    font-family:'Arial';
    color:#898989;
    width:100%; 
}

.jokeBox .ratingText {
    font-family:Bangers;
    font-size:1.2em;
    color:#777777;
}

.jokeBox:nth-child(3n) {
  margin-right:0;
}

a {
    text-decoration:none;
    color:inherit;
}

.active {
    border-color:#357DDB;
    color:#357DDB;
}

.navFooter {
    position:relative;
    width:630px;
    height:80px; 
    left:50%;
    transform:translate(-50%,0);    
    bottom:20px;
}

#leftArrow {
    font-size:5em;
}

#rightArrow {
    float:right;
    font-size:5em;
}

.leftText {
    position:relative;
    display:inline-block;
    bottom:25px;
    font-family:Lobster;
    font-size:2em; 
    cursor:pointer;
}

.rightText {
    float:right;
    position:relative;
    display:inline-block;
    top:12px;
    font-size:2em;
    font-family:Lobster;
    cursor:pointer;
}

.greyed {
    color:#CCCCCC;
    pointer-events:none;
}






