#jokeView {
    height:auto;
    margin-top:50px;
    padding:25px;
    
}

#jokeText {
    font-family:Bangers;
    text-align:center;
    font-size:5em;
}

#punchline {
    margin-top:50px;
    font-family:Luckiest Guy;
    text-align:center;
    font-size:3.5em;
    color:#7D7D7D;
    text-shadow: 1px 1px 2px #696969;
}

hr {
    width:85%;
    border-color:#CFCFCF;
    margin-top:100px;
    margin-bottom:100px;
}

h5 {
    text-align:center;
    color:grey;
}

.createdBy {
    height:40px;
    width:100px;
    border-radius:15px;
    background-color:#5798AD;
    margin:auto;
    color:white;
    font-family:Lato;
    text-align:center;
    text-decoration:underline;
    font-size:1.2em;
    line-height:40px;
}

#ratingBox {
    position:relative;
    height:270px;
    width:500px;
    margin:auto;
    margin-top:50px;
    border:1px dashed #bcbcbc;
    background-color:#f4f4ed;
    border-radius:15px;
}

#ratingBox h3 {
    font-family:Luckiest Guy;
    text-align:center;
    letter-spacing:1px;
}

#ratingBox i {
    position:absolute;
    top:10px;
    right:10px;
    color:#4a77bf;
    font-size:1.5em;
    cursor:pointer;
}

#ratingBox i:hover {
    color:#609af7;
}

#infoPopup {
    position:absolute;
    right:-250px;
    top:-80px;
    height:200px;
    width:250px;
    
}

.triangle {
    position:relative;
    height:0px;
    width:0px;
    border-left:10px solid transparent;
    border-bottom:10px solid transparent;
    border-top:10px solid transparent;
    border-right:10px solid #e0e0e0;
    top:90px;
    display:none;
}

.infoBox {
    position:relative;
    height:150px;
    width:0px;
    background-color:#e0e0e0;
    left:20px;
    border-radius:15px;
    
}

.infoBox p {
    position:absolute;
    display:none;
    color:#444444; 
    font-size:.825em;
    margin:15px;
    font-family:Lato;
}

#ratingBox h5 {
    text-align:center;
    color:black;
    font-family:Lato;
    margin-bottom:0;
}

#ratingBox h1 {
    text-align:center;
    font-size:4em;
    color:#25ce4f;
    font-family:Luckiest Guy;
    margin-top:0;
}

.ratingSelect {
    margin:auto;
    width:100px;
    font-family:Impact;
    text-align:center; 
}

.ratingCaption {
    text-align:center;
    font-family:snippet;
    margin-top:5px;
    width:100%;
    left:0;
}

#caption1 {
    position:absolute;
    color:#25ce4f;
}

#caption2 {
    color:#cc340e;
    position:absolute;
}

#ratingBox #rateBtn {
    position:relative;
    width:auto; 
    top:35px;
}


#returnBtn {
    display:block;
    position:relative;
    width:200px;
    margin-top:50px;
    left:50%;
    transform:translate(-50%,0);
}

a {
    text-decoration:none;
    color:inherit;
}

.active {
    border-color:#357DDB;
    color:#357DDB;
}

.validation-summary-errors {
    color:#d13a3a;
    margin-top:15px;
    margin-right:15px;
}

.validation-summary-errors li {
    text-align:center;
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
    
}




