@{ 

}

<!Doctype HTML>

<html>

<head>
    <title>Browse Jokes</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Allan" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bangers" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Luckiest Guy" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/styles/jokes.css" />

</head>

<body>
    <div id="outerContainer" class="container">
        <div id="innerContainer" class="container">
            <div class="line1"></div>
            <a asp-controller="App" asp-action="Index">
                <div id="homeBox" class="sideBox">
                    <p>Front Page</p>
                </div>
            </a>
            <div class="line2"></div>
            <div id="secondBox" class="sideBox">
                <p>Profile</p>
            </div>
            <div class="titleBar">
                <h2 class="titleText">SAMPLE TITLE</h2>
            </div>
            <div class="designBar"></div>
            <div class="linkBar">
                <div class="linkBox">
                    <h3>Top Jokes</h3>
                </div>
                <div class="linkBox">
                    <h3>Offensive Jokes</h3>
                </div>
                <div class="linkBox">
                    <h3>New Additions</h3>
                </div>
                <div class="linkBox">
                    <h3>Random Reel</h3>
                </div>
            </div>
            
            @RenderBody() 

        </div>
    </div>


</body>

</html>







