@model IEnumerable<LaughOrFrown.Models.Joke>

@{
    Layout = "_Layout";
}


<div id="jokesView">
    <div class="jokeBox">
        <h3>Why did the chicken cross the road?</h3>
    </div>
    <div class="jokeBox">
        <h3>Why did the chicken cross the road testing testing testing blah blah blah blah blahWhy did the chicken cross the road testing testing testing blah blah blah blah blahWhy did the chicken cross the road testing testing testing blah blah blah blah blah</h3>
    </div>
    <div class="jokeBox">
        <h3>Is this the real life, or is this just fantasy?</h3>
    </div>

    @foreach (var Joke in Model)
    {
        <div class="jokeBox">
            <h3>@Joke.JokeText</h3>

        </div>

    }

</div>






